@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');




.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
  }
  
  .namefields {
    display: flex;
    gap: 15px; 
    width: 100%; 
  }
  
  .namefields input {
    flex: 1; 
    padding: 10px;
    font-size: 16px;
  }
  
  .leftsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 150px;
  }
  
  .leftsection h1 {
    margin-right: 320px;
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
  
  .leftsection p {
    
    margin-left: -140px;
    margin-top: -10px;
    color: rgba(48, 45, 45, 0.559);
  }
  
  .logosignup {
    width: 150x ; height: 50px;
  margin-right: 250px;
  margin-top: 30px;
  margin-bottom: 70px;
  }
  
  .formsignup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    width: 100%;
    
  }
  
  .formsignup input {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    background-color: rgb(244, 242, 242);
    border: 1px solid #ddd;
    border-radius: 9px;
    box-sizing: border-box;
  }
  
  .formsignup button {
    padding: 20px;
    color: white;
    font-size: 16px;
    width: 100%;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom:25px;
  }

  
  select {
    padding: 20px;
    font-size: 16px;
    width: 100%;
    background-color: rgb(244, 242, 242);
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #555;
    margin-bottom: 15px;
  }
  
  
  /* Section droite */
  .rightsection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: px;
    gap: 0;
    margin-right: -20px;
    margin-top: -100px;
  }
  
  .signupimg {height: 1800px;
  }
  
  .loginhere{margin-right: -30px;}


  
  .rightsection p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 45px;
    font-weight: 100;
    background-color: black;
    width: 667px;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    padding: 20px;
    height: 100px;
    margin-top: -40px;
    margin-bottom: -100px;
    
  }
  

  .input-container {
    position: relative;
    width: 100%;
}

.input-container label {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 14px;
    color: gray;
    transition: 0.3s ease;
    pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label,
.input-container select:focus + label {
    top: 5px;
    left: 12px;
    font-size: 12px;
    color: black;
}
.green-deco {
    position: absolute;
    top :880px;
    left: 813px;
    width: 60px;
    height: 40px;
    background: #77dd77;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

